.navcolor {
    background-color: rgb(51, 58, 64);
} 


.codoacodo {
    width: 9rem;
    height: 5rem;
}

.imgmain{
    background-image: url(../images/ba1.jpg);
}

.dashed {

    text-decoration: underline;
    text-decoration-style: dotted;
}

.footercolor {

    background-color: rgb(27, 56, 72);
}

.buttoncolor {

    background-color: rgb(150, 201, 62);
}